@page
@model CarShop.Web.Pages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CarEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CarModel.Name" class="control-label"></label>
                <input asp-for="CarModel.Name" class="form-control" />
                <span asp-validation-for="CarModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarModel.Manufacturer" class="control-label"></label>
                <input asp-for="CarModel.Manufacturer" class="form-control" />
                <span asp-validation-for="CarModel.Manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarModel.EnginePower" class="control-label"></label>
                <input asp-for="CarModel.EnginePower" class="form-control" />
                <span asp-validation-for="CarModel.EnginePower" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarModel.EngineType" class="control-label"></label>
                <input asp-for="CarModel.EngineType" class="form-control" />
                <span asp-validation-for="CarModel.EngineType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarModel.CylindersCount" class="control-label"></label>
                <input asp-for="CarModel.CylindersCount" class="form-control" />
                <span asp-validation-for="CarModel.CylindersCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarModel.Color" class="control-label"></label>
                <input asp-for="CarModel.Color" class="form-control" />
                <span asp-validation-for="CarModel.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarModel.DateProduced" class="control-label"></label>
                <input asp-for="CarModel.DateProduced" class="form-control" />
                <span asp-validation-for="CarModel.DateProduced" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarModel.AvailableCount" class="control-label"></label>
                <input asp-for="CarModel.AvailableCount" class="form-control" />
                <span asp-validation-for="CarModel.AvailableCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarModel.Photo" class="control-label"></label>
                <input asp-for="CarModel.Photo" class="form-control" type="file" />
                <span asp-validation-for="CarModel.Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
